*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    height: 77.5px;
    padding: 10px;
    /* position: relative; */
    
}


.header .navigation-center{
    display: inline-block;
    height: 77.5px;

}

.header .logo-image{
    height: 40px;
    width: 160px;
    
}

.header .header-navigation{
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-right: 32px;
}

.header .avata,
.header .search-button{
    text-decoration: none;
    font-size: 25px;
    margin-right: 16px;
    
}

.header .navigation-container{
    margin-left: 132px;
}

.header .avata-button{
    display: inline-block;
    text-align: center;
    padding-left: 100px;
}

.header .logo-bookingcare{
    padding-right: 50px;
    text-decoration: none;
}



/* CONTENT */
.content{
    min-height: 1000px;
    /* background-color: gray; */
}

.content .content-gradient{
    height: 121px;
    background-image: linear-gradient(to right, rgb(10, 203, 247), rgb(238, 255, 0) )
}

.content .set-avata i{
    margin: 20px 0 0 125px;
}

.content .content-navigation{
    margin-top: 128px;
    margin-left: 125px;
    display: inline-block;
}

.content .content-info{
    padding: 16px;
    width: 100%;
    padding-right: 150px;

}

.content .content-navigation button{
    background-color: white;
    border: none;
}

.content .content-navigation button:hover{
    background-color: rgba(3, 158, 247, 0.1);
    color: rgb(4, 97, 248);
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    font-weight: 500;
    
}

.content .content-info i{
    padding-right: 5px;
}


.content .profile{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    position: absolute;
    margin: 32px 0 0 32px;
}


/* PROFILE */
.profile .detail-info .input-info{
    padding: 6px;
    border-radius: 7px;
    border: rgba(0, 0, 0, 0.3) solid;
    width: 100%;
}


