{% extends 'homepage/base.html' %}
{% block extra_head %}
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
    h3 
    {
        font-size: 16px;
        font-weight: lighter;
        margin-top: 0px;
    }
    .content
    {
        padding: 10px 15px;
        background: #fff;
    }
    table 
    {
        border-collapse: collapse;
        width: 40%;
    }
    th, td 
    {
        text-align: left;
        padding-top: 8px;
        padding-left: 8px;
        padding-bottom: 8px;
        padding-right: 8px;
        background-color: #ffffff;
    }
    .content hr 
    {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 0;
        border-top: 1px solid #eee;
    }
    .search input
    {
        width:100%;
        border-radius:14px;
        border: 1px rgb(148, 147, 147) solid;
        height: 30px;
        padding-left: 10px;
    }
    .search
    {
        padding: 20px 15px;
        background: #fff;
        background-color:#f5f5f5;
    }
    .content hr
    {
        border-top: 1px solid #e2e1e1;
    }
    img
    {
        width:100px;
        height:67px;
    }

    </style>
{% endblock extra_head %}
{% block content %}
    <div class="search">
        <input type="text" placeholder="Tìm kiếm chuyên khoa" id="search">
    </div>
    <div class="content">
        <h3 style="font-weight:bold">Thông tin các chuyên khoa:</h3>
        <table>
            <tr>
                <td>
                    <a href="{% url 'specialistDetail' %}">
                        <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/120331-co-xuong-khop.jpg" alt="Cơ xương khớp">
                    </a>
                </td>
                <td style="text-align:left;width: 90%;">
                    <a href="{% url 'specialistDetail' %}">
                        <h3>Cơ xương khớp</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/121042-than-kinh.jpg" alt="Thần kinh">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Thần kinh</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/120933-tieu-hoa.jpg" alt="Tiêu hóa">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Tiêu hóa</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/120741-tim-mach.jpg" alt="Tim mạch">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Tim mạch</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/121146-tai-mui-hong.jpg" alt="Tai Mũi Họng">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Tai Mũi Họng</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/121215-cot-song.jpg" alt="Cột sống">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Cột sống</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/121232-y-hoc-co-truyen.jpg" alt="Y học Cổ truyền">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Y học Cổ truyền</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/121305-cham-cuu.jpg" alt="Châm cứu">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Châm cứu</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/181822-san-phu-khoa.jpg" alt="Sản Phụ Khoa">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Sản Phụ Khoa</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/181619-sieu-am-thai.jpg" alt="Siêu âm thai">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Siêu âm thai</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/175620-nhi-khoa.jpg" alt="Nhi khoa">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Nhi khoa</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/175809-da-lieu.jpg" alt="Da liễu">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Da liễu</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/182233-viem-gan.jpg" alt="Bệnh viêm gan">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Bệnh viêm gan</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/183706-di-ung-mien-dich.jpg" alt="Dị ứng miễn dịch">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Dị ứng miễn dịch</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2020/09/30/141059-ung-thu-phoi.jpg" alt="Hô hấp - Phổi">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Hô hấp - Phổi</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2022/05/27/172508-145b3e2c46f7bddcf859384a0b3c1435.jpg" alt="Ngoại thần kinh">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Ngoại thần kinh</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/184456-nam-hoc.jpg" alt="Nam học">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Nam học</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/190150-chuyen-khoa-mat.jpg" alt="Chuyên khoa Mắt">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Chuyên khoa Mắt</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/190750-than-tiet-nieu.jpg" alt="Thận - Tiết niệu">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Thận - Tiết niệu</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/192154-noi-khoa.jpg" alt="Nội khoa">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Nội khoa</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/192415-kham-tong-quat.jpg" alt="Khám tổng quát">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Khám tổng quát</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/182050-nha-khoa.jpg" alt="Nha khoa">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Nha khoa</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/192804-tieu-duong-noi-tiet.jpg" alt="Tiểu đường - Nội tiết">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Tiểu đường - Nội tiết</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/193531-chup-mri.jpg" alt="Chụp cộng hưởng từ">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Chụp cộng hưởng từ</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/194032-chup-ct-scanner.jpg" alt="Chụp cắt lớp vi tính">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Chụp cắt lớp vi tính</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/194326-noi-soi-tieu-hoa.jpg" alt="Nội soi tiêu hóa">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>
                            Nội soi tiêu hóa
                        </h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/195743-chup-pet-ct.jpg" alt="Chụp PET/CT">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>
                            Chụp PET/CT
                        </h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/195611-ung-buou.jpg" alt="Ung bướu">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>
                            Ung bướu
                        </h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2022/05/27/174107-da-lieu.jpg" alt="Da liễu thẩm mỹ">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>
                            Da liễu thẩm mỹ
                        </h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2022/05/30/142409-3889458ce0da663ab6532d16e0518e4f.jpg" alt="Truyền nhiễm">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>
                            Truyền nhiễm
                        </h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/195926-bac-si-gia-dinh.jpg" alt="Bác sĩ gia đình">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>
                            Bác sĩ gia đình
                        </h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/200111-tao-hinh-ham-mat.jpg" alt="Tạo hình hàm mặt">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>
                            Tạo hình hàm mặt
                        </h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2020/12/09/152607-tu-va.jpg" alt="Tư vấn, trị liệu Tâm lý">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>
                            Tư vấn, trị liệu tâm lý
                        </h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2021/04/20/150017-vo-sinh-hiem-muon1.jpg" alt="Vô sinh - Hiếm muộn">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>
                            Vô sinh - Hiếm muộn
                        </h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2022/05/30/091404-chan-thuong.jpg" alt="Chấn thương chỉnh hình">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>
                            Chấn thương chỉnh hình
                        </h3>
                    </a>
                </td>
            </tr>
        </table>
    </div>
{% endblock content %}
{% comment %}  {% endcomment %}
