{% extends 'homepage/base.html' %}
{% block extra_head %}
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
    h3 
    {
        font-size: 16px;
        font-weight: lighter;
    }
    .content
    {
        padding: 40px 15px;
        background: #fff;
    }
    table 
    {
        border-collapse: collapse;
        width: 40%;
    }
    th, td 
    {
        text-align: left;
        padding-top: 8px;
        padding-left: 8px;
        padding-bottom: 8px;
        padding-right: 8px;
        background-color: #ffffff;
    }
    .content hr 
    {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 0;
        border-top: 1px solid #eee;
    }
    </style>
{% endblock extra_head %}
{% block content %}
    <div class="content">
        <h3 style="font-weight:bold">Thông tin các chuyên khoa:</h3>
        <table>
            <tr>
                <td>
                    <a href="{% url 'specialistDetail' %}">
                        <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/120331-co-xuong-khop.jpg"
                             alt="Cơ xương khớp"
                             style="width:100px;height:67px">
                    </a>
                </td>
                <td style="text-align:left;width: 90%;">
                    <a href="{% url 'specialistDetail' %}">
                        <h3>Cơ xương khớp</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/121042-than-kinh.jpg"
                         alt="Thần kinh"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Thần kinh</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/120933-tieu-hoa.jpg"
                         alt="Tiêu hóa"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Tiêu hóa</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/120741-tim-mach.jpg"
                         alt="Tim mạch"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Tim mạch</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/121146-tai-mui-hong.jpg"
                         alt="Tai Mũi Họng"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Tai Mũi Họng</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/121215-cot-song.jpg"
                         alt="Cột sống"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Cột sống</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/121232-y-hoc-co-truyen.jpg"
                         alt="Y học Cổ truyền"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Y học Cổ truyền</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/121305-cham-cuu.jpg"
                         alt="Châm cứu"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Châm cứu</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/181822-san-phu-khoa.jpg"
                         alt="Sản Phụ Khoa"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Sản Phụ Khoa</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/181619-sieu-am-thai.jpg"
                         alt="Siêu âm thai"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Siêu âm thai</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/175620-nhi-khoa.jpg"
                         alt="Nhi khoa"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Nhi khoa</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/175809-da-lieu.jpg"
                         alt="Da liễu"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Da liễu</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/182233-viem-gan.jpg"
                         alt="Bệnh viêm gan"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Bệnh viêm gan</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/183706-di-ung-mien-dich.jpg"
                         alt="Dị ứng miễn dịch"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Dị ứng miễn dịch</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2020/09/30/141059-ung-thu-phoi.jpg"
                         alt="Hô hấp - Phổi"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Hô hấp - Phổi</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2022/05/27/172508-145b3e2c46f7bddcf859384a0b3c1435.jpg"
                         alt="Ngoại thần kinh"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Ngoại thần kinh</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/184456-nam-hoc.jpg"
                         alt="Nam học"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Nam học</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/190150-chuyen-khoa-mat.jpg"
                         alt="Chuyên khoa Mắt"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Chuyên khoa Mắt</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/190750-than-tiet-nieu.jpg"
                         alt="Thận - Tiết niệu"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Thận - Tiết niệu</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/192154-noi-khoa.jpg"
                         alt="Nội khoa"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Nội khoa</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/192415-kham-tong-quat.jpg"
                         alt="Khám tổng quát"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Khám tổng quát</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/182050-nha-khoa.jpg"
                         alt="Nha khoa"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Nha khoa</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/192804-tieu-duong-noi-tiet.jpg"
                         alt="Tiểu đường - Nội tiết"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Tiểu đường - Nội tiết</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/193531-chup-mri.jpg"
                         alt="Chụp cộng hưởng từ"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Chụp cộng hưởng từ</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/194032-chup-ct-scanner.jpg"
                         alt="Chụp cắt lớp vi tính"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>Chụp cắt lớp vi tính</h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/194326-noi-soi-tieu-hoa.jpg"
                         alt="Nội soi tiêu hóa"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>
                            Nội soi tiêu hóa
                        </h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/195743-chup-pet-ct.jpg"
                         alt="Chụp PET/CT"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>
                            Chụp PET/CT
                        </h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/195611-ung-buou.jpg"
                         alt="Ung bướu"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>
                            Ung bướu
                        </h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2022/05/27/174107-da-lieu.jpg"
                         alt="Da liễu thẩm mỹ"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>
                            Da liễu thẩm mỹ
                        </h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2022/05/30/142409-3889458ce0da663ab6532d16e0518e4f.jpg"
                         alt="Truyền nhiễm"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>
                            Truyền nhiễm
                        </h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/195926-bac-si-gia-dinh.jpg"
                         alt="Bác sĩ gia đình"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>
                            Bác sĩ gia đình
                        </h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/200111-tao-hinh-ham-mat.jpg"
                         alt="Tạo hình hàm mặt"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>
                            Tạo hình hàm mặt
                        </h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2020/12/09/152607-tu-va.jpg"
                         alt="Tư vấn, trị liệu Tâm lý"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>
                            Tư vấn, trị liệu tâm lý
                        </h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2021/04/20/150017-vo-sinh-hiem-muon1.jpg"
                         alt="Vô sinh - Hiếm muộn"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>
                            Vô sinh - Hiếm muộn
                        </h3>
                    </a>
                </td>
            </tr>
        </table>
        <hr color="#e2e1e1">
        <table>
            <tr>
                <td style="text-align:left;">
                    <img src="https://cdn.bookingcare.vn/fr/w300/2022/05/30/091404-chan-thuong.jpg"
                         alt="Chấn thương chỉnh hình"
                         style="width:100px;height:67px">
                </td>
                <td style="text-align:left;width: 90%">
                    <a href="#">
                        <h3>
                            Chấn thương chỉnh hình
                        </h3>
                    </a>
                </td>
            </tr>
        </table>
    </div>
{% endblock content %}
{% comment %} <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="vi">
<head>
    <meta charset="UTF8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type=image/x-icon href="D:/bookingcare.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Chuyên khoa</title>
    
    <style>
        .wrapper
        {
            padding:0;
            margin:0;
        }
        .headerbar
        {
            padding:0;
            margin:0;
        }
        .rest
        {
            padding-top: 200px;
            padding-bottom: auto;
        }
        h3 
        {
            font-size: 16px;
            font-weight: lighter;
        }
        body
        {
            background-color: #ffffff;
            margin: 0;
            font-size: 28px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .header
        {
            background-color: #f1f1f1;
            padding: 30px;
            text-align: center;
        }
        #navbar
        {
            overflow: hidden;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 10px 4px -8px rgba(0, 0, 0, 0.4);
        }
        #navbar a
        {
            float: left;
            display: block;
            color: #363434;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 20px;
        }
        #navbar a:hover
        {
            background-color: rgb(216, 216, 216);
            color: black;
        }
        #navbar a.active
        {
            padding-top: 10px;
            background-color: #8d8e8e;
            color: white;
        }
        .active
        {
            padding-top: 5px;
            padding-left: 5px;
        }
        .content
        {
            padding-top: 40px;
            padding-left: 20px;
            padding-right: 40px;
            padding-bottom: 40px;
        }
        .sticky
        {
            position: fixed;
            top: 0;
            width: 100%;
            
        }
        .sticky + .content
        {
            padding-top: 60px;
            box-shadow: 10px, 10px;
            padding-bottom: 20px
        }
        table 
        {
            border-collapse: collapse;
            width: 40%;
        }
        th, td 
        {
            text-align: left;
            padding-top: 8px;
            padding-left: 8px;
            padding-bottom: 8px;
            padding-right: 8px;
            background-color: #ffffff;
        }
        hr 
        {
            width: 100%;
            margin-top: 5px;
            margin-bottom: 5px;
            border: 0;
            border-top: 1px solid #eee;
        }
        .footer{
            padding: 0px 240px; 
            display :flex;
            background-color: #e7e7e7;
            font-size: 15px;
            padding-top: 10px;
        }
        .footerAddress{
            margin: 0px 250px;
            font-size: 15px;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <div id="navbar" class="headerbar sticky">
            <a href="https://bookingcare.vn/"><img class="active" height="40" width="160" src="https://bookingcare.vn/assets/icon/bookingcare-2020.svg" alt="BookingCare/"></a>
            <a style="padding-top:25px;margin-left:1200px;" href="https://bookingcare.vn/hotro">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                </svg>Hỗ trợ
            </a>
        </div>
        <div class="content rest">
            <h3 style="font-weight:bold">Thông tin các chuyên khoa:</h3>
            <table>
                <tr>
                <td><a href="{% url 'specialistDetail' %}"><img src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/120331-co-xuong-khop.jpg", alt="Cơ xương khớp", style="width:100px;height:67px"></a></td>
                <td style="text-align:left;width: 90%;"><a href="{% url 'specialistDetail' %}"><h3>Cơ xương khớp</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/121042-than-kinh.jpg", alt="Thần kinh", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Thần kinh</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/120933-tieu-hoa.jpg", alt="Tiêu hóa", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Tiêu hóa</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/120741-tim-mach.jpg", alt="Tim mạch", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Tim mạch</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/121146-tai-mui-hong.jpg", alt="Tai Mũi Họng", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Tai Mũi Họng</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/121215-cot-song.jpg", alt="Cột sống", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Cột sống</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/121232-y-hoc-co-truyen.jpg", alt="Y học Cổ truyền", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Y học Cổ truyền</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/121305-cham-cuu.jpg", alt="Châm cứu", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Châm cứu</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/181822-san-phu-khoa.jpg", alt="Sản Phụ Khoa", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Sản Phụ Khoa</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/181619-sieu-am-thai.jpg", alt="Siêu âm thai", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Siêu âm thai</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/175620-nhi-khoa.jpg", alt="Nhi khoa", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Nhi khoa</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/175809-da-lieu.jpg", alt="Da liễu", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Da liễu</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/182233-viem-gan.jpg", alt="Bệnh viêm gan", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Bệnh viêm gan</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/183706-di-ung-mien-dich.jpg", alt="Dị ứng miễn dịch", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Dị ứng miễn dịch</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2020/09/30/141059-ung-thu-phoi.jpg", alt="Hô hấp - Phổi", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Hô hấp - Phổi</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2022/05/27/172508-145b3e2c46f7bddcf859384a0b3c1435.jpg", alt="Ngoại thần kinh", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Ngoại thần kinh</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/184456-nam-hoc.jpg", alt="Nam học", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Nam học</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/190150-chuyen-khoa-mat.jpg", alt="Chuyên khoa Mắt", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Chuyên khoa Mắt</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/190750-than-tiet-nieu.jpg", alt="Thận - Tiết niệu", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Thận - Tiết niệu</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/192154-noi-khoa.jpg", alt="Nội khoa", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Nội khoa</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/192415-kham-tong-quat.jpg", alt="Khám tổng quát", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Khám tổng quát</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/182050-nha-khoa.jpg", alt="Nha khoa", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Nha khoa</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/192804-tieu-duong-noi-tiet.jpg", alt="Tiểu đường - Nội tiết", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Tiểu đường - Nội tiết</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">
            
            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/193531-chup-mri.jpg", alt="Chụp cộng hưởng từ", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Chụp cộng hưởng từ</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/194032-chup-ct-scanner.jpg", alt="Chụp cắt lớp vi tính", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Chụp cắt lớp vi tính</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/194326-noi-soi-tieu-hoa.jpg", alt="Nội soi tiêu hóa", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Nội soi tiêu hóa</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/195743-chup-pet-ct.jpg", alt="Chụp PET/CT", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Chụp PET/CT</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/195611-ung-buou.jpg", alt="Ung bướu", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Ung bướu</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2022/05/27/174107-da-lieu.jpg", alt="Da liễu thẩm mỹ", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Da liễu thẩm mỹ</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2022/05/30/142409-3889458ce0da663ab6532d16e0518e4f.jpg", alt="Truyền nhiễm", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Truyền nhiễm</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/195926-bac-si-gia-dinh.jpg", alt="Bác sĩ gia đình", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Bác sĩ gia đình</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/200111-tao-hinh-ham-mat.jpg", alt="Tạo hình hàm mặt", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Tạo hình hàm mặt</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2020/12/09/152607-tu-va.jpg", alt="Tư vấn, trị liệu Tâm lý", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Tư vấn, trị liệu tâm lý</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2021/04/20/150017-vo-sinh-hiem-muon1.jpg", alt="Vô sinh - Hiếm muộn", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Vô sinh - Hiếm muộn</h3></a></td>
                </tr>
            </table>
            <hr color="#e2e1e1">

            <table>
                <tr>
                <td style="text-align:left;"><img src="https://cdn.bookingcare.vn/fr/w300/2022/05/30/091404-chan-thuong.jpg", alt="Chấn thương chỉnh hình", style="width:100px;height:67px"></td>
                <td style="text-align:left;width: 90%"><a href="#"><h3>Chấn thương chỉnh hình</h3></a></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="footer">
        <div >
            <img height="40" width="160" src="https://bookingcare.vn/assets/icon/bookingcare-2020.svg" alt="BookingCareLogo">
            <h4>Công ty Cổ phần Công nghệ BookingCare</h4>
            <p>
                28 Thành Thái, Dịch Vọng, Cầu Giấy, Hà Nội <br>
                ĐKKD số: 0106790291. Sở KHĐT Hà Nội cấp ngày 16/03/2015
            </p> 
        </div>
        <div class="footerAddress">
            <h4>Trụ sở tại Hà Nội</h4>
            <p>
                28 Thành Thái, Dịch Vọng, Cầu Giấy, Hà Nội
            </p> 
            <h4>Văn phòng tại TP Hồ Chí Minh</h4>
            <p>
                Số 01, Hồ Bá Kiện, Phường 15, Quận 10
            </p> 
            <h4>Hỗ trợ khách hàng</h4>
            <p>
                support@bookingcare.vn (7h - 18h)
            </p> 
        </div>
    </div>
    <script>
        window.onscroll = function() {myFunction()};
        
        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;
        
        function myFunction() {
          if (window.pageYOffset >= sticky) 
          {
            navbar.classList.add("sticky")
          }
          else 
          {
            navbar.classList.remove("sticky");
          }
        }
    </script>
</body>

</html> {% endcomment %}
