{% extends "accounts/base.html" %}
{% load static %}
{% block extra_head %}
{% block title %}<title>Change Password</title>{% endblock %}
    <link href="{% static 'accounts/css/style_change_password.css' %}" rel="stylesheet">
{% endblock extra_head %}
{% block content %}
<div id="login-form-wrap">
  <div class='bookingcare-logo'>
      <a href="{% url 'homepage' %}">&af;</a>
  </div>
  <h2><b>Change Password</b></h2>
  
  <form id="login-form" method="post">
    <div style="text-align:left;font-size:20px;">
      {{ form.as_p }}
      {% csrf_token %}
      <div style="text-align: center;">
        <p style="display:inline;">
          <input style="display:inline;width:12px;height:12px;" type="checkbox" id="showhide" name="Showhide" onclick="Click()"> 
          <p style="display:inline;font-size:16px;font-style:normal;color:rgb(94, 93, 93)">Show password</p>
        </p>
      </div>
    </div>

    <p>
      <input type="submit" id="login" value="CONFIRM">
    </p>
  </form>

  <div id="notification-info" style="background-color: rgb(84, 165, 237); margin-left: 0px; margin-right: 0px; padding-left: 10px; padding-right: 10px;">
    <p style="color:rgb(255, 255, 255);font-size:15px;font-weight: bold;padding:10px 0px;">If you change your password successfully, you will redirect to sign out, so please sign in again with your new password!</p>   
  </div>

  <div id="footer_login_form">
    <p>Back to <a href="{% url 'homepage' %}">Hompage?</a><p>
  </div>
</div>
{% endblock content %}

{% block script %}
<script>
function Click() {
  var temp1 = document.getElementById("id_old_password");
  var temp2 = document.getElementById("id_new_password1");
  var temp3 = document.getElementById("id_new_password2");
  if (temp1.type === "password") {
      temp1.type = "text";
      temp2.type = "text";
      temp3.type = "text";
  }
  else {
      temp1.type = "password";
      temp2.type = "password";
      temp3.type = "password";
  }
}
</script>

<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js">
    alertify.set('notifier', 'position', 'top-right')
</script>

<!-- <script type="text/javascript">
  setTimeout(function(){
    document.getElementById("notification-info").innerHTML = '';
}, 4000);
</script>

<script type="text/javascript">
  setTimeout(function(){
    document.getElementById("notification-error").innerHTML = '';
}, 4000); -->
</script>
{% endblock script %}