{% extends "accounts/base.html" %}
{% block content %}
<div id="login-form-wrap">
  <div class='bookingcare-logo'>
      <a href="{% url 'homepage' %}">&af;</a>
  </div>
  <h2><b>Login</b></h2>
  <form id="login-form" method="post">
    <div style="text-align:left;font-size:20px;">
    {{ form.as_p }}
    {% csrf_token %}
    </div>

    
    <p>
    <input type="submit" id="login" value="Login">
    </p>
    {% for message in messages %}
    <div>
        <p style="color:red;font-size:15px;display: inline-block;font-weight: bold;">Note: {{ message }}</p>
          
    </div>
    {% endfor %}
  </form>
  <div id="create-account-wrap">
    <p>Not a member? <a href="{% url 'signup' %}">Create Account</a><p>
  </div>
</div>


<!-- <script>

function Click() {
  var temp = document.getElementById("password");
  if (temp.type === "password") {
      temp.type = "text";
  }
  else {
      temp.type = "password";
  }
}
</script> -->
{% endblock %}

