{% extends "accounts/base.html" %}
{% block content %}
<div id="register-form-wrap">
  <div class='bookingcare-logo'>
    <a href="{% url 'homepage' %}">&af;</a>
  </div>

  <h2><b>Register</b></h2>
  <form id="register-form" method="post">
    <div style="text-align:left;font-size:20px;">
      {{ user_form.as_p }}
      {% csrf_token %}
    </div>
    
    <p>
      <input type="submit" id="register" value="Register now!" onclick="ClickSubmit()">
    </p>
    <a style="font-size: 20px" href="{% url 'login' %}">Back to login!</a>
  </form>
  
  <div id="footer-register-form">
    <p>"Booking care" want to save your health!<p>
  </div>
</div>


<!-- <script>
function Click() {
  var temp1 = document.getElementById("password");
  var temp2 = document.getElementById("retype-password")
  if (temp1.type === "password") {
      temp1.type = "text";
      temp2.type = "text";
  }
  else {
      temp1.type = "password";
      temp2.type = "password";
  }
}
</script> -->
    
<!-- <script>
function ClickSubmit() {
 
  let password = document.getElementById("password").value;
  let re_password = document.getElementById("retype-password").value;
  if (password != re_password)
  {
    alert("Two password is not the same! Please try again!");
  }
  alert(inputVal);
}
</script> -->
  
{% endblock %}
