/**
 *  Base css
 */
* {
  line-height: 1.5;
}

/**
 *  Icon css
 */
.search-icon {
  background: transparent url('../icons/icons8-search.svg') center center
    no-repeat;
  width: 50px;
  height: 50px;
  background-size: 18px 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.google-play-badge {
  background: transparent url('../icons/google-play-badge.svg') center center
    no-repeat;
  width: 108px;
  height: 32px;
  background-size: cover;
}

.app-store-badge {
  background: transparent url('../icons/app-store-badge-black.svg') center
    center no-repeat;
  width: 108px;
  height: 32px;
  background-size: cover;
}

.khamchuyenkhoa-icon {
  background: #fff url('../images/banner-choices/133537-khamchuyenkhoa.png')
    center center no-repeat;
}

.khamtuxa-icon {
  background: #fff url('../images/banner-choices/133657-khamtuxa.png') center
    center no-repeat;
}

.khamtongquat-icon {
  background: #fff url('../images/banner-choices/133744-khamtongquat.png')
    center center no-repeat;
}

.xetnghiemyhoc-icon {
  background: #fff url('../images/banner-choices/133744-dichvuxetnghiem.png')
    center center no-repeat;
}

.suckhoetinhthan-icon {
  background: #fff url('../images/banner-choices/133744-suckhoetinhthan.png')
    center center no-repeat;
}

.khamnhakhoa-icon {
  background: #fff url('../images/banner-choices/104635-khamnhakhoa.png') center
    center no-repeat;
}

.goiphauthuat-icon {
  background: #fff url('../images/banner-choices/151930-phau-thuat.jpg') center
    center no-repeat;
}

.sanphamyte-icon {
  background: #fff url('../images/banner-choices/133744-khamtainha.png') center
    center no-repeat;
}

.suckhoedoanhnghiep-icon {
  background: #fff url('../images/banner-choices/101157-icon-lich-su.jpg')
    center center no-repeat;
}

.bs-nguyenduyhung-img {
  background: transparent url('../images/segment-doctors/114430-bshung.jpg')
    center center no-repeat;
}

.vtcnews-img {
  background: #a3171e;
}

.vtc-img {
  background: #16325c;
}

/**
 *  Banner css
 */
#banner {
  background: #fff url('../images/bookingcare-cover-4.jpg') center no-repeat;
  background-size: cover;
}

#banner__search {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1));
  padding: 45px 0;
  text-align: center;
}

#banner__title {
  color: #fff;
  font-size: 32px;
  font-weight: 200;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #333;
}

#banner__search-form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto;
  position: relative;
  z-index: 1;
}

#banner__search-form-input {
  display: flex;
  position: relative;
  align-items: center;
  width: 456px;
  height: 50px;
  background: #f7d800;
  border-radius: 25px;
  padding: 14px 25px 14px 50px;
}

#banner__search-form-input input {
  font: 14px 'Montserrat', sans-serif;
  width: 100%;
  border: none;
  height: 21px;
  outline: none;
  background: transparent;
}

#banner__search-form-input #search_form {
  width: 100%;
}

#banner__search-form-input label {
  display: none;
}

.errorlist {
  display: none;
}

#banner__search-form-dropdown {
  position: absolute;
  top: 60px;
  left: 0;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  text-align: left;
  min-height: 50px;
  max-height: 60vh;
  overflow: auto;
  font-size: 14px;
  display: none;
}

#banner__search-form-dropdown h3 {
  background: #f5f5f5;
  padding: 3px 10px;
  font-size: 14px;
}

#banner__search-form-dropdown h4,
#banner__search-form-dropdown h5 {
  font-weight: normal;
}

#banner__search-form-dropdown h5 {
  color: #666;
  font-size: 12px;
  margin-top: 5px;
  grid-column: 2/3;
}

#banner__search-form-dropdown a {
  display: grid;
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
  color: #333;
  font-weight: normal;
  column-gap: 10px;
  grid-template-columns: 35px 1fr;
  align-items: center;
}

#banner__search-form-dropdown i {
  width: 35px;
  height: 35px;
  display: inline-block;
  background-size: cover !important;
  grid-row: 1/3;
}

.show-search-dropdown {
  display: block !important;
}

#banner__shorcut-download {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  gap: 10px;
}

#banner__shorcut-download a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

#banner__choices {
  background: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 1)
  );
  padding: 30px;
}

#banner__choices ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#banner__choices li {
  width: 160px;
  height: 122px;
}

.banner__choices-img {
  width: 50px;
  height: 50px;
  background-size: 32px;
}

#banner__choices a:hover,
.segment__specialist a:hover,
.segment__clinic a:hover,
.segment__doctor a:hover {
  color: var(--mau-bc-16);
}

#banner__choices i {
  display: block;
  margin: 2px auto;
  border-radius: 50%;
  box-shadow: 0px 1px 2px rgb(0 0 0 / 50%);
}

#banner__choices a {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #333;
  font-weight: bold;
  text-align: center;
}

/**
 *  Main content css
 */
.segment {
  padding: 40px;
  border-bottom: 3px solid #efeef5;
}

.background--white {
  background: #fff;
}

.background--gray {
  background: #f5f5f5;
}

.segment__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.segment__head a {
  background: #ebebeb;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 15px;
  color: #282e41;
  font-size: 11px;
}

.segment__head a:hover {
  color: #969495;
  background: #f7d800;
}

.segment__head h2 {
  font-size: 24px;
  font-weight: bold;
}

.segment__specialist a,
.segment__clinic a,
.segment__doctor a {
  display: flex !important;
  flex-flow: column;
  justify-content: space-between;
  height: fit-content;
  margin: 5px;
  color: #333;
  font-size: 15px;
}

.segment__doctor a {
  text-align: center;
  padding: 10px 5px;
  border: 1px solid #eee;
  background: #fff;
}

.segment__doctor h3 {
  color: #111;
  white-space: pre-wrap;
  font-size: 13px;
  font-weight: normal;
}

.segment__doctor h4 {
  color: #555;
  font-size: 12px;
  font-weight: normal;
}

.segment__specialist-img,
.segment__clinic-img {
  width: 278px;
  height: 156px;
  object-fit: cover;
}

.segment__doctor-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  object-fit: cover;
}

.slick-prev {
  left: -15px;
  position: absolute;
  top: 45%;
  width: 44px;
  height: 48px;
  color: transparent;
  cursor: pointer;
  background: #fff url(../icons/icons8-chevron-left.svg) center no-repeat;
  background-size: 25px 30px;
  border: 2px solid #d7d7d7;
  opacity: 0.75;
  transform: translate(0, -50%);
}

.slick-next {
  right: -15px;
  position: absolute;
  top: 45%;
  width: 44px;
  height: 48px;
  /* font-size: 0; */
  color: transparent;
  cursor: pointer;
  background: #fff url(../icons/icons8-chevron-right.svg) center no-repeat;
  background-size: 25px 30px;
  border: 2px solid #d7d7d7;
  opacity: 0.75;
  transform: translate(0, -50%);
}

.slick-arrow {
  z-index: 2;
}

.slick-disabled {
  opacity: 0;
}

.slick-list {
  margin: 0 -5px !important;
}

.segment__truyenthong {
  display: flex;
  gap: 20px;
  align-items: center;
}

.segment__truyenthong ul {
  list-style-type: none;
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  justify-content: center;
  height: 100px;
  gap: 20px;
}

.segment__truyenthong li {
  width: 106px;
  height: 50px;
}

.segment__truyenthong-img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.segment__truyenthong a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.segment-download {
  background: transparent url('../images/bookingcare-app-2020.png') no-repeat;
  background-size: 200px auto;
  padding: 40px 25px 40px 530px;
  background-position-x: 310px;
}

.segment-download h2 {
  margin-bottom: 15px;
}

.segment-download ul {
  list-style: url(../icons/icons8-check-mark-48.png) inside;
}

.badge-download {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.badge-download i {
  cursor: pointer;
}

.badge-download + a {
  display: block;
  margin-top: 10px;
  color: var(--mau-bc-16);
  font-style: italic;
  font-size: 13px;
}
