{% extends 'patients/base.html' %}
{% block content %}
<body>
    <table id="historyPatient" class="table table-striped table-bordered" width="100%">
      <thead>
          <tr>
              <th>Chuẩn đoán</th>
              <th>Đơn thuốc</th>
              <th>Lưu ý Bác sĩ</th>
              <th>Ngày khám</th>
              <th>Bác sĩ</th>
              <th>Thanh toán</th>
          </tr>
      </thead>
      <tbody>
        <tr>
            <td>Viêm dạ dày</td>
            <td>
                <ul>
                    <li>YESOM (3lần/ngày)</li>
                    <li>PAPAZE (3lần/ngày)</li>
                    <li>SUCRATE (3lần/ngày)</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Ăn uống điều độ</li>
                </ul>
            </td>
            <td>2022-02-15</td>
            <td>Hà Văn Quyết</td>
            <td>326.000</td>
        </tr>
        <tr>
            <td>Viêm dạ dày (tái khám)</td>
            <td>
                <ul>
                    <li>YESOM (3lần/ngày)</li>
                    <li>PAPAZE (3lần/ngày)</li>
                    <li>SUCRATE (3lần/ngày)</li>
                    <li>BIOCID (3lần/ngày)</li>
                    <li>ARTHUR (3lần/ngày)</li>
                </ul>
            </td>
            <td></td>
            <td>2022-07-15</td>
            <td>Hà Văn Quyết</td>
            <td>516.000</td>
        </tr>
        <tr>
            <td>Cảm Sốt</td>
            <td>
                <ul>
                    <li>Paracetamol 500mg (3lần/ngày)</li>
                    <li>Phenylephrine 10mg (3lần/ngày)</li>
                    <li>Clopheniramine 2mg (3lần/ngày)</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Sau khi uống gây ra cảm giác buồn ngủ. Không lái xe và vận hành máy móc.</li>
                    <li>Để tăng cường sức đề kháng, chống lại căn bệnh cảm cúm theo mùa nên bổ sung vitamin C hàng ngày.</li>
                </ul>
            </td>
            <td>2022-08-25</td>
            <td>Đào Đình Thi</td>
            <td>250.000</td>
        </tr>
      </tbody>
  </table>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
  </body>
  <script>
    $(document).ready(function () {
        $('#historyPatient').DataTable();
    });
  </script>

  {% endblock content %}