<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Notification button</title>
        <link rel="stylesheet" href="./css/button.css">
    </head>
    <body>
        <button type="button" class="icon-button">
            <span class="material-symbols-outlined">
                <img src="./img/notifybutton.png" alt="button" width="40" height="40">
            </span>
            <span class="icon-button__badge">40</span>
        </button>
    </body>
</html>
