<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Notification Page</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
              name="viewport">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet"
              type="text/css"
              href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="./css/page.css">
    </head>
    <body>
        <section class="section-50">
            <div class="container">
                <h3 class="m-b-50 heading-line">
                    Thông báo <i class="fa fa-bell text-muted"></i>
                </h3>
                <div class="notification-ui_dd-content">
                    <div class="notification-list notification-list--unread">
                        <div class="notification-list_content">
                            <div class="notification-list_img">
                                <img src="./img/user.png" alt="user">
                            </div>
                            <div class="notification-list_detail">
                                <p>
                                    <b>Bênh nhân 1</b> <span style="color: #ff0000;">đăng kí khám bệnh</span>
                                </p>
                                <p class="text-muted">Đăng kí khám tai mũi họng</p>
                                <p class="text-muted">
                                    <small>10 mins ago</small>
                                </p>
                            </div>
                        </div>
                        <div class="notification-list_feature-img">
                            <img src="" alt="Feature image">
                        </div>
                    </div>
                    <div class="notification-list notification-list--unread">
                        <div class="notification-list_content">
                            <div class="notification-list_img">
                                <img src="./img/user.png" alt="user">
                            </div>
                            <div class="notification-list_detail">
                                <p>
                                    <b>Bênh nhân 2</b> <span style="color: #ff0000;">đăng kí khám bệnh</span>
                                </p>
                                <p class="text-muted">Đăng kí khám răng</p>
                                <p class="text-muted">
                                    <small>23 mins ago</small>
                                </p>
                            </div>
                        </div>
                        <div class="notification-list_feature-img">
                            <img src="" alt="Feature image">
                        </div>
                    </div>
                    <div class="notification-list notification-list--read">
                        <div class="notification-list_content">
                            <div class="notification-list_img">
                                <img src="./img/user.png" alt="user">
                            </div>
                            <div class="notification-list_detail">
                                <p>
                                    <b>Bác sĩ 1</b> <span style="color: #0f12b6;">khám bệnh</span>
                                </p>
                                <p class="text-muted">kê đơn thuốc 1</p>
                                <p class="text-muted">
                                    <small>40 mins ago</small>
                                </p>
                            </div>
                        </div>
                        <div class="notification-list_feature-img">
                            <img src="" alt="Feature image">
                        </div>
                    </div>
                    <div class="notification-list notification-list--read">
                        <div class="notification-list_content">
                            <div class="notification-list_img">
                                <img src="./img/user.png" alt="user">
                            </div>
                            <div class="notification-list_detail">
                                <p>
                                    <b>Bênh nhân 3</b> <span style="color: #0f12b6;">chi trả tiền phí</span>
                                </p>
                                <p class="text-muted">bill</p>
                                <p class="text-muted">
                                    <small>1 hour ago</small>
                                </p>
                            </div>
                        </div>
                        <div class="notification-list_feature-img">
                            <img src="" alt="Feature image">
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="#" id="btn" class="btn btn-success">Xem thêm</a>
                    </div>
                </div>
            </section>
        </body>
    </html>
